
<nav class="navbar  header ">
    <div class="container-fluid " >
      <div class="row">

        <div class="col-lg 12   " >
          <div class="dropdown " >
              <button class="btn-header board" type="button" data-bs-toggle="dropdown" aria-expanded="false" *ngIf="isConnected">
                  <div class="bars" (click)="handlecloseAllOpenDropdown()">
                      <fa-icon [icon]="faBars"></fa-icon>
                      <span> Boards </span>
                  </div>
              </button>
              <ul class="dropdown-menu">
                  <li>
                      <form action="">
                          <div class="form-inline ">
                              <input
                                  type="text"
                                  class="search "
                                  [formControl]="searchControl"
                                  placeholder="Search"
                                  >
                          </div>
                      </form>
                  </li>

                  <li *ngFor="let item of boards" >

                      <a class="dropdown-item " [ngClass]="{'activ': activeIndex === item?.name}" (click)="handleOpenBoard(item?.id, item?.name)" *ngIf="!isResult ">
                          {{ item?.name }}
                      </a>
                  </li>
                  <li *ngFor="let result of results" >
                      <a class="dropdown-item" [ngClass]="{'activ': activeIndex === result?.name}" (click)="handleOpenBoard(result?.id, result?.name)" *ngIf="isResult" >
                          {{ result?.name }}
                      </a>
                  </li>
                  <button
                    class="button-create next"
                    type="button"
                    aria-expanded="false"
                    [ngClass]="{'activ': activeIndex === 'createBoard'}"
                    (click)="onCreateBoard()"
                    >
                    Create board
                  </button>
              </ul>
          </div>

          <div class=" logo-container justify-content-between align-items-center">
            <span class="logo " style="--bs-scroll-height: 100px; ">
                <img src="assets/images/logo.png" alt="Logo" class="logo-image">
                <a class="navbar-brand ml-auto " href="">KanbanApp</a>
            </span>
          </div>


          <div class="menu-wrapper align-items-center justify-content-end " *ngIf="!isConnected">
            <button class="sign-in" type="button" (click)="handleSignIn()">Sign In</button>
            <button class="sign-up" type="button" (click)="handleSignUp()">Sign Up</button>
          </div>

          <div class="menu-wrapper align-items-center justify-content-end " style="--bs-scroll-height: 100px; " *ngIf="isConnected">
              <div class="dropdown">
                  <button class="btn-header" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <fa-icon [icon]="faBell" class="p-1"></fa-icon>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </div>
              <div class="dropdown">
                  <button class="btn-header" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="icons-back ">
                          <fa-icon class="QuestionTag" [icon]="faQuestion"></fa-icon>
                      </div>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#">Something else here</a></li>
                  </ul>
              </div>
              <div class="dropdown">
                  <button class="btn-header" type="button" data-bs-toggle="dropdown" aria-expanded="false">
                      <div class="icons-back">
                          <span class=" fa user">CO</span>
                      </div>
                  </button>
                  <ul class="dropdown-menu dropdown-menu-end">
                    <li><a class="dropdown-item" href="#">Action</a></li>
                    <li><a class="dropdown-item" href="#">Another action</a></li>
                    <li><a class="dropdown-item" href="#" (click)="handleDisconnect(); $event.preventDefault()">Disconnect</a></li>
                  </ul>
              </div>
          </div>
        </div>
      </div>
    </div>
</nav>
